[submodule "ip/peridot_peripherals"]
	path = ip/peridot_peripherals
	url = https://github.com/kimushu/peridot_peripherals.git
[submodule "ip/peridot_sw_packages"]
	path = ip/peridot_sw_packages
	url = https://github.com/kimushu/peridot_sw_packages.git
[submodule "ip/epcs_fatfs"]
	path = ip/epcs_fatfs
	url = https://github.com/kimushu/epcs_fatfs.git
[submodule "ip/buffered_uart"]
	path = ip/buffered_uart
	url = https://github.com/kimushu/buffered_uart.git
